/*UCSB colors blue: 05347a replaced with ba0c2f for OSU yellow: FFEE66 replaced with a7b1b7 for OSU*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ba0c2f;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #a7b1b7;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #a7b1b7;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* used to be Arial, Helvetica, sans-serif;*/
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 20px;
  text-align: center;
  background: #ba0c2f;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.header a {
  color: white;
}

.header a:hover {
  color: white;
}

.header a:visited {
  color: #a7b1b7;
}

/* Sticky navbar */
.navbar {
  overflow: hidden;
  background-color: #ba0c2f;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.current {
  color: orange !important;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout for two columns */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout for topnav and subnav */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .subnav {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a, .topnav.responsive .subnav {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .subnav-content {
    display: none;
  }
  .topnav.responsive .subnavbtn {
    display: block;
  }
  .topnav.responsive .subnavbtn:hover + .subnav-content,
  .topnav.responsive .subnavbtn:focus + .subnav-content {
    display: block;
  }
  .topnav.responsive {
    overflow: visible;
  }
}

/* Add star before invited talks numbers */
li {
  position: relative;
}

li.invited:before {
  content: "*";
  position: absolute;
  left: -33px;
}


li.invited:nth-of-type(n+11):before {
  left: -35px;
}


.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  position: relative;
}

.subnavbtn:hover {
  background-color: #a7b1b7;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #ba0c2f;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a yellow background color on hover */
.subnav-content a:hover {
  background-color: #a7b1b7;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* When you move the mouse over the subnav button, turn i5t yellow */
.subnav:hover .subnavbtn {
  background-color: #a7b1b7;
}

/*To add columns*/

.rowa{
    max-width:35%;
    margin-right:2%;
    float: left;
    overflow: hidden; /*to deal with mobile mode text going over photo*/
}

.papers {
    max-width:100%;
    float: left;
}
.clearfix{
    clear:both
}

/*hides picture if screen is too small*/
@media screen and (max-width: 1200px) {
    .rowa {
        display: none !important;
    }
  }

    @media screen and (min-width: 1200px) {
        .rowb {
            display: none !important;
        }}
    .papers{
      max-width: 100%;
    }

    summary.platform-summary {
      cursor: pointer;
      font-weight: bold;
      padding: 8px;
      background-color: #a7b1b7;
      border-radius: 6px;
      display: inline-block;
      width: fit-content;
      margin-top: 5px;
      transition: background-color 0.3s ease;
    }

    summary.platform-summary:hover {
      background-color: #a7b1b7;
    }

    details[open] summary.platform-summary::after {
      content: "▲";
      float: right;
      margin-left: 10px;
    }

    summary.platform-summary::after {
      content: "▼";
      float: right;
      margin-left: 10px;
    }

   .pdf-container {
  width: 100%;
  height: 600px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
